<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Python Page Testing</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <main>
        <h1>Create a Song</h1>
        <h4>(in Python)</h4>
        <section class="addSong">
            <input type="text" name="" placeholder="Title" value="">
            <input type="text" name="" placeholder="Artist" value="">
            <input type="text" name="" placeholder="Year" value="">
            <button type="button" name="button">Create Song</button>
        </section>

        <section>
            <h1>Display a songs</h1>
            <table>
                <tr>
                    <th>Title</th>
                    <th>Artist</th>
                    <th>Year</th>
                </tr>
                <tr class="allSongs">
                    <td class="myTitle">myTitle</td>
                    <td class="myArtist">myArtist</td>
                    <td class="myYear">1887</td>
                </tr>
            </table>
        </section>





    </main>

</body>

</html>
